.home {
    padding: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;;
}

.user-cards {
    margin-top: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
